<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>


    
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">  

  <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  
  <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% load static %} 
    <link rel="stylesheet"  type="text/css"  href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendario.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/color.css' %}">

</head>
<body>
    <ul class="menu">
        <a class="navbar-brand" href="{% url 'home' %}"> <!--Barra de navegacion -->
          <img src="{% static 'img/logo.png' %}" width="62" height="62" alt="#">
        </a>
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li><a href="{% url 'quinesSomos' %}">Quienes Somos</a> </li>
          <li><a href="{% url 'Galeria' %}">Galeria</a> </li>           
      </ul>



    {% load crispy_forms_tags %}
    
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body" >
                        <center><i><h2>Iniciar Sesion</h2></i></center>
                        <hr>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <img src="{% static 'img/logo.png' %}" width="62" height="62" alt="#">

                            <a href="{% url 'home' %}">Ir al Home</a>
                            <br>
                            <input type="submit" class="btn btn-success" value="Ingresar" style="float:right">
                        </form>
                </div>
            </div>
        </div>
      </div>
    </div>

   <br><br>
    
    
<!--Footer-->
<footer>
    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" width="120" height="120" alt="#"></a>
  
  
    <div class="footer-content">
      <h3>Plancton</h3>
      <!--Calendario-->
      <div class="root">
        <div class="calendar" id="calendar">
  
        </div>
    </div>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
    <script  type="text/javascript" src="{% static 'js/calendariojs.js' %}"></script>
    <script type="text/javascript">
        let calendar = new Calendar('calendar');
        calendar.getElement().addEventListener('change', e => {
            console.log(calendar.value().format('LLL'));
        });
  
  
    </script>
      <p>Siguenos en Nuestras redes sociales</p>
      <ul class="redesS">
        <li><a class="navbar-brand" href="https://www.facebook.com/profile.php?id=100080142220338">
          <img src="{% static 'img/logoface.png' %}" width="62" height="62" alt="#">      </a></li>
      
          <li><a class="navbar-brand" href="https://instagram.com/planctonplantas?r=nametag">
          <img src="{% static 'img/logoinsta.png' %}" width="62" height="62" alt="#">
          </a></li>
      
          <li><a class="navbar-brand" href="https://www.youtube.com/channel/UCwLl9DLFCBaIDgfOKvZSS-A">
          <img src="{% static 'img/logoyou.png' %}" width="62" height="62" alt="#">
          </a></li>
  
        
  
      </ul>
      <div>
      <h6>Dejanos algun comentario</h6>
      <ul class="redesS">
        <li><a class="navbar-brand" href="{% url 'formulario' %}">
          <img src="{% static 'img/escribenos.png' %}" width="62" height="62" alt="#">
        </a></li></ul>
      </div>
  
   
    
      <div class=" footer-bottom">
      <i><p>copyright &copy;2022 Plancton.Felipe_Reyes_Thomas Saez</p></i>
  
      </div>
  </footer>
    
  
  
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>